ZENTIST_RPA_REPORT_RECIPIENT=ops@example.com
ZENTIST_RPA_DATABASE_PATH=var/zentist-rpa.sqlite3
ZENTIST_RPA_REPORT_OUTPUT_DIR=var/reports
ZENTIST_RPA_EMAIL_OUTPUT_DIR=var/email

ZENTIST_RPA_ORANGEHRM_USERNAME_SECRET=SECRET
ZENTIST_RPA_ORANGEHRM_PASSWORD_SECRET=SECRET
